<template>
  <div class="home">
    <b-container>
      <b-row align-h="center">
        <b-col cols="12" sm="9" md="7" lg="5">
          <div class="home-card">
            <b-img
              class="w-50"
              :src="require('@/assets/printful-logo.jpeg')"
              alt="printful logo"
            />
            <p>Welcome to Printful Quiz!</p>
            <name-form :quizzes="quizzes" />
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import NameForm from "@/components/NameForm";
export default {
  name: "Home",
  components: {
    NameForm,
  },
  data() {
    return {
      quizzes: [],
    };
  },
  async created() {
    try {
      const data = await this.axios.get("/test-quiz.php?action=quizzes");
      this.quizzes = data.data;
    } catch (e) {
      console.log(e);
    }
  },
};
</script>

<style scoped>
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.home .home-card {
  background-color: #fff;
  margin-top: -120px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 14px;
  padding: 30px 30px 40px;
}
@media screen and (max-width: 600px) {
  .home .home-card {
    margin-top: -60px;
  }
}
.home .home-card p {
  margin-bottom: 30px;
  color: #999999;
}
</style>
