<template>
  <div class="test">
    <app-nav />

    <QuizSkeletonLoader v-if="!options.length" />
    <b-container class="mt-5" v-else>
      <b-row align-h="center">
        <b-col cols="12" md="8">
          <div class="question-wrapper">
            <p class="mb-2">Question #{{ getCurrentQuestionIndex + 1 }}:</p>
            <h4 class="question mb-2">
              {{ getQuestion.title }}
            </h4>
          </div>

          <b-row
            class="answer-options mt-5 text-center justify-content-center justify-content-md-start"
          >
            <b-col cols="11" md="6" v-for="option in options" :key="option.id">
              <option-item
                :text="option.title"
                :selected="selectedOption === option"
                @click="selectedOption = option"
              />
            </b-col>
          </b-row>

          <b-row class="mb-5 justify-content-center justify-content-md-end">
            <b-col cols="11" md="6" lg="5">
              <b-button
                class="btn-next"
                variant="warning"
                block
                :disabled="!selectedOption"
                @click="gotoNextQuestion"
              >
                <span v-if="!submitLoader">
                  <template v-if="isLastQuestion"> Finish </template>
                  <template v-else> Next Question </template>
                  <b-icon-chevron-right class="ml-3" />
                </span>
                <b-spinner type="grow" v-else class="ml-n4"></b-spinner>
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AppNav from "@/components/Common/AppNav";
import OptionItem from "@/components/OptionItem";
import QuizSkeletonLoader from "@/components/QuizSkeletonLoader";

export default {
  components: {
    AppNav,
    OptionItem,
    QuizSkeletonLoader,
  },
  data() {
    return {
      session: null,
      questionId: null,
      question: "",
      selectedOption: null,
      options: [],
      submitLoader: false,
    };
  },
  computed: {
    getQuestion() {
      return this.session.questions.find(
        (question) => question.id.toString() === this.questionId
      );
    },
    getCurrentQuestionIndex() {
      const index = this.session.questions.findIndex(
        (question) => question.id.toString() === this.questionId
      );
      return Number(index);
    },
    isLastQuestion() {
      return this.getCurrentQuestionIndex + 1 >= this.session.questions.length;
    },
  },
  watch: {
    "$route.params": {
      handler() {
        this.handlePageStart();
      },
      immediate: true,
    },
  },
  methods: {
    handlePageStart() {
      this.options = [];
      this.selectedOption = null;
      const userSession = this.$store.state.session;
      if (!userSession) {
        return this.$router.push("/");
      }

      this.session = userSession;
      this.questionId = this.$route.params.id;
      this.getOptions();
    },
    async getOptions() {
      try {
        const { data } = await this.axios(
          `/test-quiz.php?action=answers&quizId=${this.session.quizId}&questionId=${this.questionId}`
        );

        this.options = data;
      } catch (e) {
        console.log(e);
      }
    },
    gotoNextQuestion() {
      if (!this.isLastQuestion) {
        // save answer
        this.$store.dispatch("saveAnswer", {
          questionIndex: this.getCurrentQuestionIndex,
          answerId: this.selectedOption.id,
        });

        const newQuestion =
          this.session.questions[this.getCurrentQuestionIndex + 1];
        this.$router.push(`/quiz/${newQuestion.id}`);
      } else {
        this.submitAnswers();
      }
    },
    async submitAnswers() {
      let submitUrl = `/test-quiz.php?action=submit&quizId=${this.session.quizId}`;
      const answers = this.$store.state.answers;
      answers.forEach((answer) => {
        submitUrl = `${submitUrl}&answers[]=${answer}`;
      });
      try {
        this.submitLoader = true;
        const { data } = await this.axios.get(submitUrl);
        await this.$store.dispatch("saveResult", data);

        this.submitLoader = false;
        await this.$router.push("/result");
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>
p {
  color: #fdb806;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.question {
  color: #2f2a2a;
}
.btn-next {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  height: 50px;
  padding: 0 20px 0 40px;
  margin-top: 60px;
  background-color: #fdb806;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.btn-next.disabled {
  color: #fff;
}
.btn-next:hover:not(.disabled),
.btn-next:active,
.btn-next:focus {
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
  .question {
    font-size: 20px;
  }
  .btn-next {
    margin-top: 20px;
    height: 42px;
  }
}
</style>
