<template>
  <div>
    <app-nav :show-progress="false" />

    <b-row align-h="center" class="text-center" no-gutters>
      <b-col cols="11" md="5" class="mt-5">
        <b-img :src="require('@/assets/done.svg')" width="260px" />

        <h1 class="mt-5 mb-1">Thanks, {{ session.name }}!</h1>
        <h5 class="font-weight-normal text-secondary">
          You responded correctly to {{ session.result.correct }} out of
          {{ session.result.total }} questions
        </h5>

        <b-button
          class="btn-next text-white mt-5"
          variant="warning"
          @click="handleSessionDestroy"
        >
          <span class="font-weight-medium">Alright, Log me out</span>
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AppNav from "@/components/Common/AppNav";
export default {
  components: {
    AppNav,
  },
  computed: {
    ...mapState({
      session: (state) => state.session,
    }),
  },
  mounted() {
    if (!this.session || !this.session.result) {
      this.$router.push("/");
    }
  },
  methods: {
    async handleSessionDestroy() {
      await this.$store.dispatch("resetSession");
      await this.$router.push("/");
    },
  },
};
</script>

<style scoped></style>
