<template>
  <b-form @submit.prevent="handleFormSubmit">
    <b-form-input
      class="mb-3"
      id="name"
      v-model="name"
      placeholder="Enter your name"
      required
    ></b-form-input>

    <b-form-select
      v-model="selectedQuiz"
      :options="quizList"
      required
    ></b-form-select>

    <b-button class="btn-submit mt-4" type="submit" block>
      <span v-if="!loading">Start</span>
      <b-spinner type="grow" v-else></b-spinner>
    </b-button>
  </b-form>
</template>

<script>
export default {
  props: {
    quizzes: {
      type: Array,
    },
  },
  data() {
    return {
      name: "",
      selectedQuiz: null,
      loading: false,
    };
  },
  computed: {
    quizList() {
      return [
        { value: null, text: "Please select an option", disabled: true },
        ...this.quizzes.map((quiz) => {
          return { value: quiz.id, text: quiz.title };
        }),
      ];
    },
  },
  methods: {
    async handleFormSubmit() {
      try {
        this.loading = true;
        const { data } = await this.axios.get(
          `test-quiz.php?action=questions&quizId=${this.selectedQuiz}`
        );

        await this.$store.dispatch("saveSession", {
          name: this.name,
          quizId: this.selectedQuiz,
          questions: data,
        });

        this.loading = false;
        await this.$router.push(`/quiz/${data[0].id}`);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>
.btn-submit {
  background-color: #1f1919;
  font-weight: 500;
  height: 46px;
  letter-spacing: 1px;
  box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0,
    rgba(0, 0, 0, 0.05) 0 1px 1px 0;
}
</style>
