<template>
  <button
    class="option-item"
    :class="{ selected: selected }"
    @click="$emit('click')"
  >
    <b-icon-circle v-if="!selected" font-scale="1.5" />
    <b-iconstack v-else font-scale="1.5">
      <b-icon stacked icon="circle"></b-icon>
      <b-icon stacked icon="circle-fill" scale="0.6"></b-icon>
    </b-iconstack>
    <span class="ml-4"> {{ text }} </span>
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "",
    },
    selected: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.option-item {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 28px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 70px;
  transition: background-color 0.3s;
  font-weight: 500;
  padding: 22px 22px 22px 32px;
  text-align: left;
}
.option-item:hover,
.option-item.selected {
  color: #fff;
  background-color: #1f1919;
  box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
}
@media screen and (max-width: 600px) {
  .option-item {
    font-size: 14px;
    margin-bottom: 22px;
    padding: 18px 18px 18px 32px;
  }
}
</style>
