<template>
  <b-container class="mt-5">
    <b-row align-h="center">
      <b-col cols="12" md="8">
        <div class="question-wrapper">
          <div class="pb-md-5 mt-2">
            <b-skeleton height="30px" width="85%"></b-skeleton>
            <b-skeleton height="30px" width="55%"></b-skeleton>
            <b-skeleton height="30px" width="75%"></b-skeleton>
          </div>
        </div>

        <b-row align-h="center" class="answer-options mt-5 text-center">
          <b-col cols="11" md="6" v-for="option in 4" :key="option">
            <b-skeleton height="60px" class="mb-3"></b-skeleton>
          </b-col>
        </b-row>

        <b-row class="mb-5 justify-content-center justify-content-md-end">
          <b-col cols="11" md="6" lg="5">
            <b-skeleton height="50px" width="100%" class="mt-5"></b-skeleton>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {};
</script>
