<template>
  <div class="app-nav">
    <b-container class="app-nav-container">
      <b-img
        :src="require('@/assets/printful-logo.jpeg')"
        alt="printful logo"
      />

      <div class="progress-bar-wrapper" v-if="showProgress">
        <p class="progress-text">Test Progress: {{ getProgress }}%</p>
        <b-progress :value="getProgress" :max="100" height="8px"> </b-progress>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  props: {
    showProgress: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    getProgress() {
      const session = this.$store.state.session;
      const currentQuestionId = this.$route.params.id;
      const currentQuestionIndex = session.questions.findIndex(
        (question) => question.id.toString() === currentQuestionId
      );
      const questionsLength = session.questions.length;
      return parseInt(((currentQuestionIndex + 1) / questionsLength) * 100);
    },
  },
};
</script>

<style scoped>
.app-nav {
  height: 70px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.app-nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-nav img {
  width: 200px;
}
@media screen and (max-width: 600px) {
  .app-nav img {
    width: 140px;
  }
}
.progress-bar-wrapper {
  width: 180px;
}
@media screen and (max-width: 365px) {
  .progress-bar-wrapper {
    width: 130px;
  }
}
.progress-text {
  color: #4f4a4a;
  letter-spacing: 1px;
  font-size: 11px;
  margin-bottom: 2px;
}
::v-deep .progress-bar {
  background-color: #fdb806;
}
</style>
